body{
	margin: 0;
}
.contenedor{
	max-width: 1000px;
	margin: 0 auto;
}
/*MENU*/
.menu{
	background: rgb(84,107,33);
    color: white;
}
.menu ul{
	padding: 10px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
	font-family: 'Oswald', sans-serif;
}
.menu ul li{
	width: 100%;
	text-align: center; 
	border-left: 1px solid white;
}
.menu ul li:first-child{
	border-left: 0px solid white;	
}
/*FOOTER*/
.footer{
	background-image:url('../images/footer.jpg'); 
	background-repeat: repeat;
	margin-top: 120px;
	border-top: 15px solid rgb(123,98,36);
}
.menu_footer{
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 20px;
}
.menu_footer ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	position: relative;
	top: -15px;
	margin: 0;
}
.info_footer h5{
	font-family: 'Source Serif Pro', serif;
	font-size: 15px;
	text-align: center;
	margin: 10px 0 0 0;
	color: white;
}
/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Source Serif Pro', serif;*/